{% extends "layout.html" %}
{% load staticfiles %}

{% block resource %}
{% endblock %}

{% block content %}

  <body class=" checkout-page">

    <div class="master-wrapper">

    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">

                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">

                    	    <!--  ==========  -->
							<!--  = Header =  -->
							<!--  ==========  -->
                    		<header>
                    		    <div class="row">
                    		    	<div class="span2">
                    		    	</div>
                    		    	<div class="span6">
                    		    	    <div class="center-align">
                    		    	        <h1><span class="light">بازبینی</span> سبد خرید</h1>
                    		    	    </div>
                                        <br/>
                    		    	</div>
                    		    	<div class="span2">
                    		    	</div>
                    		    </div>
                    		</header>

                    		<!--  ==========  -->
							<!--  = Selected Items =  -->
							<!--  ==========  -->
							<table class="table table-items">
							    <thead>
							    	<tr>
                                        <th colspan="2">خدمات</th>
                                        <th><div></div></th>
                                        <th><div class="align-right">قیمت</div></th>
							    	</tr>
							    </thead>
							    <tbody>
                                    {% for cart_item in cart_list %}
                                    <tr>
                                        <td class="image"><img src={% static 'images/dummy/cart-items/cart-item-1.jpg' %} alt="" width="124" height="124" /></td>
                                        <td class="desc"> {{ cart_item.tour.service.name }}
                                            &nbsp;
                                            &nbsp;
                                            {% if cart_item.is_reserved %}
                                                <a href = {% url 'cart-confirm' cart_item.pk %}>
                                                <img src={% static "images/icons/confirm.png" %} alt="confirm icon" width="25" height="25" title="خرید"/>
                                                </a>
                                                <a href = {% url 'cart-cancel' cart_item.pk %}>
                                                <img src={% static "images/icons/cancel.png" %} alt="cancel icon" width="25" height="25" title="لغو"/>
                                                </a>
                                            {% else %}
                                                <a href = {% url 'cart-reserve' cart_item.pk %}>
                                                <img src={% static "images/icons/reserve.png" %} alt="reserve icon" width="25" height="25" title="رزرو"/>
                                                </a>
                                                <a href = {% url 'cart-cancel' cart_item.pk %}>
                                                <img src={% static "images/icons/cancel.png" %} alt="cancel icon" width="25" height="25" title="لغو"/>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td></td>
                                        <td class="price">
                                            {{ cart_item.get_cost }}
                                             تومان
                                        </td>
                                    </tr>
                                    {% endfor %}
							        <tr>
                                        <td></td>
                                        <td></td>
                                        <td class="stronger">
                                    جمع کل
                                        </td>
							        	<td class="stronger"><div class="size-16 align-right">{{ total_cost }} تومان</div></td>
							        </tr>
							    </tbody>
							</table>

							<p class="center-align">
							    <a href={% url 'cart-buy' %} class="btn btn-primary higher bold">تایید خرید</a>
							</p>
                    	</div>
                    </div>
                </div>


            </section> <!-- /main content -->

        </div>
    </div> <!-- /container -->

    </div> <!-- end of master-wrapper -->

{% endblock %}